.todo-title {
  gap: 10px;
}

.filter-dropdown {
  border: 1px solid #eee;
  width: 140px;
  justify-content: l;
  display: flex;
  margin-left: 10px;
  &::after {
    position: absolute;
    right: 10px;
    bottom: 25px;
  }
}
.no-task-msg {
  font-size: 22px;
  font-weight: 500;
}
